/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make the app fill the entire screen */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
